%section.container
  .row
    .col-sm-10.col-sm-offset-1
      %form.form-horizontal
        %header
          %h1 Add new business
        %fieldset
          .form-group
            %label.control-label.col-sm-2 Email Address
            .col-sm-6
              %input.form-control(type="email")
          .form-group
            %label.control-label.col-sm-2 Password
            .col-sm-6
              %input.form-control(type="password")
          .form-group
            %label.control-label.col-sm-2 First Name
            .col-sm-6
              %input.form-control(type="text")
          .form-group
            %label.control-label.col-sm-2 Last Name
            .col-sm-6
              %input.form-control(type="text")
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Sign Up" class="btn btn-default")


%ul
  %li.ylist-bordered
    .main-attributes
      %div
        .media-avatar
          %a(href="/biz/suffolk-arms-new-york")
            %img(alt="Suffolk Arms" height="90" src="https://s3-media4.fl.yelpcdn.com/bphoto/fF1GcoJ6r9K3VckugcoZeg/90s.jpg" width="90")
        %div
          %h3
            %span
              %a(href="#")
                %span Suffolk Arms
          %div
            %span 67 reviews

    .secondary-attributes
      %address 269 Houston St<br>New York, NY 10002
      %span Phone number
      %span (212) 475-0400
  %li.ylist-bordered
    .main-attributes
      %div
        .media-avatar
          %a(href="/biz/suffolk-arms-new-york")
            %img(alt="Suffolk Arms" height="90" src="https://s3-media4.fl.yelpcdn.com/bphoto/fF1GcoJ6r9K3VckugcoZeg/90s.jpg" width="90")
        %div
          %h3
            %span
              %a(href="#")
                %span Suffolk Arms
          %div
            %span 67 reviews

    .secondary-attributes
      %address 269 Houston St<br>New York, NY 10002
      %span Phone number
      %span (212) 475-0400
  %li.ylist-bordered
    .main-attributes
      %div
        .media-avatar
          %a(href="/biz/suffolk-arms-new-york")
            %img(alt="Suffolk Arms" height="90" src="https://s3-media4.fl.yelpcdn.com/bphoto/fF1GcoJ6r9K3VckugcoZeg/90s.jpg" width="90")
        %div
          %h3
            %span
              %a(href="#")
                %span Suffolk Arms
          %div
            %span 67 reviews

    .secondary-attributes
      %address 269 Houston St<br>New York, NY 10002
      %span Phone number
      %span (212) 475-0400