/* line 1, /Users/wangxuefei/Documents/rails/yelp_clone/app/assets/stylesheets/whitespace-reset.sass */
ul, ol {
  list-style: none;
}

/* line 3, /Users/wangxuefei/Documents/rails/yelp_clone/app/assets/stylesheets/whitespace-reset.sass */
h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em;
}

/* line 5, /Users/wangxuefei/Documents/rails/yelp_clone/app/assets/stylesheets/whitespace-reset.sass */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

/* line 8, /Users/wangxuefei/Documents/rails/yelp_clone/app/assets/stylesheets/whitespace-reset.sass */
a img, :link img, :visited img, fieldset {
  border: none;
}

/* line 10, /Users/wangxuefei/Documents/rails/yelp_clone/app/assets/stylesheets/whitespace-reset.sass */
address {
  font-style: normal;
}

/* line 12, /Users/wangxuefei/Documents/rails/yelp_clone/app/assets/stylesheets/whitespace-reset.sass */
header, section, article, nav, footer, hgroup {
  display: block;
}
